<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="AcmeConnectionString" connectionString="Server=RRT00079;initial catalog=AcmeSoft; Integrated Security=SSPI;"/> <!--Change this to your db connection-->
  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_IAcmeService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address=""
                binding="wsHttpBinding"
                contract="Acme.Service.IAcmeService"
                bindingConfiguration="wsHttpBinding_IAcmeService" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>